/.idea
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/public/build
/storage/*.key
/vendor
/drivers
.env
.env.backup
.env.testing
.env.testing.sail
.env.dusk.local
.phpunit.result.cache
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
_ide_helper*
.phpstorm.meta.php
.php-cs-fixer.cache
clover.xml
/public/vendor/web-tinker
**/.DS_Store
/resources/js/lang
